@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tangerine');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Tangerine', cursive;*/

.app {
  text-align: center;
}

.app-header {
  background-color: #d1d2f9;
  height: 150px;
  padding: 20px;
  color: #330036;
}

.app-title {
  font-family: 'Tangerine', cursive;
  font-size: 3em;
  margin: 15px;
}

.app-glass {
  width: 10%;
  height: 40%;
}

a {
  color: black;
}

a:visited {
  color: #330036;
}

a:hover {
  color: #568259;
}

a:active {
  color: #330036;
}
