.wine-image {
  border-radius: 50%;
  height: 120px;
  display: inline-block;
}

.wine-row {
  padding: 15px 0;
  position: relative;
}

.wine-details {
  text-align: center;
  display: inline-block;
  width: 500px;
  position: relative;
  height: 120px;
  margin-left: 30px;
}

.wine-details:hover {
    box-shadow: 3px 3px 3px 3px #ddd;
    cursor: pointer;
}

.wine-detail-module {
  position: absolute;
  top: 11px;
  width: 100%;
}

.wine-name {
  font-family: Tangerine;
  font-size: 38px;
  font-weight: 600;
  color: #330036;
}

.wine-description {
  font-family: "Open Sans";
  font-size: 14px;
  color: #212227;
}

@media only screen and (max-width: 710px) {
  .wine-image{
    height: 85px;
  }
  .wine-details{
    width: 75%;
    height: 85px;
  }
}
